<?xml version="1.0"?>
<config>
    <modules>
        <Loewenstark_Button>
            <version>0.3.0.0</version>
        </Loewenstark_Button>
    </modules>
    <global>
        <blocks>
            <adminhtml>
                <rewrite>
                    <checkout_agreement_edit_form>Loewenstark_Button_Block_Adminhtml_Checkout_Agreement_Edit_Form</checkout_agreement_edit_form>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <lws_button>
                <class>Loewenstark_Button_Helper</class>
            </lws_button>
            <catalog>
                <rewrite>
                    <!-- Mage_Catalog_Helper_Product_Configuration-->
                    <product_configuration>Loewenstark_Button_Helper_Catalog_Product_Configuration</product_configuration>
                </rewrite>
            </catalog>
            <checkout>
                <rewrite>
                    <data>Loewenstark_Button_Helper_Checkout_Data</data>
                </rewrite>
             </checkout>
        </helpers>
        <models>
            <lws_button>
                <class>Loewenstark_Button_Model</class>
            </lws_button>
            <sales>
                <rewrite>
                    <quote_config>Loewenstark_Button_Model_Sales_Quote_Config</quote_config>
                </rewrite>
            </sales>
        </models>
        <resources>
        <lws_button_setup>
                <setup>
                    <module>Loewenstark_Button</module>
                    <class>Loewenstark_Button_Model_Installer</class>
                </setup>
            </lws_button_setup>
        </resources>
        <events>
            <adminhtml_catalog_product_attribute_edit_prepare_form>
                <observers>
                    <lws_button_option>
                        <type>singleton</type>
                        <class>Loewenstark_Button_Model_AttributeEditTabMain</class>
                        <method>addOption</method>
                    </lws_button_option>
                </observers>
            </adminhtml_catalog_product_attribute_edit_prepare_form>     
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <lws_button>
                    <file>button.xml</file>
                </lws_button>
            </updates>
        </layout>
        <translate>
            <modules>
                <Loewenstark_Button>
                    <files>
                        <lws_button>Loewenstark_Button.csv</lws_button>
                    </files>
                </Loewenstark_Button>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Loewenstark_Button>
                    <files>
                        <lws_button>Loewenstark_Button.csv</lws_button>
                    </files>
                </Loewenstark_Button>
            </modules>
        </translate>
    </adminhtml>
</config>